<% @unknown_images = ["http://imgur.com/YVsthxL", "http://imgur.com/epErFQN", "http://imgur.com/Dhjg9Nt", "http://imgur.com/MFJ2Jtq", "http://imgur.com/OKW9sGR","http://imgur.com/XbWXkgV", "http://imgur.com/JC58Ddl", "http://imgur.com/8JPc40J", "http://imgur.com/VagGxI8", "http://imgur.com/XXhpIE9", "http://imgur.com/K3aWDfo", "http://imgur.com/DK4NF95", "http://imgur.com/JZcUHql", "http://imgur.com/mTfrirR", "http://imgur.com/EGX2UXt"]  %>
<% @wedding_images = ["http://imgur.com/tMQLnMN", "http://imgur.com/I2HttQC", "http://imgur.com/LnR1IMO", "http://imgur.com/KI8dS2I", "http://imgur.com/aEhJ2v8", "http://imgur.com/72lmu1Z", "http://imgur.com/LEnzBgV", "http://imgur.com/g88OXRo", "http://imgur.com/1xy0ovn", "http://imgur.com/HD2eEHd", "http://imgur.com/kaawSJC", "http://imgur.com/qzhlvNO", "http://imgur.com/YhXrR0L", "http://imgur.com/Tk3ALPm", "http://imgur.com/3wuHMfP", "http://imgur.com/GOIoFWH", "http://imgur.com/wDabgp7"] %>
<% @photobooth_images = ["http://imgur.com/UXO2Mk4", "http://imgur.com/uX3GEOa", "http://imgur.com/UzY8mgE", "http://imgur.com/XPJbtlN", "http://imgur.com/fRwDGJF", "http://imgur.com/8MtFFHe", "http://imgur.com/R4SxoX1", "http://imgur.com/3KhNkV7", "http://imgur.com/sIs0RKT", "http://imgur.com/rXCkCOD", "http://imgur.com/76LpKM4", "http://imgur.com/t6LARH7", "http://imgur.com/boiKCC6", "http://imgur.com/vl1wSAZ", "http://imgur.com/f0Vxyvb", "http://imgur.com/zuzbsqD"] %>



<div class="portfolioFilter">
	<h4> 
    <a href="#" data-filter="*" class="current label label-primary">All Categories</a>
    <a href="#" data-filter=".party" class="label label-primary">Party</a>
    <a href="#" data-filter=".wedding" class="label label-primary">Wedding</a>
    <a href="#" data-filter=".photobooth_images" class="label label-primary">Photobooth</a>
 </h4>
</div>
 
<div class="portfolioContainer">

    <% @unknown_images.each do |image| %>
    <div class="party">
      <a href="<%= image %>.jpg" data-lightbox="images" title="My caption"><img class="party" src="<%= image %>.jpg" alt="http://placehold.it/272x407"></a>
    </div>
    <% end %>
    
    <% @wedding_images.each do |image| %>
    	<div class="wedding">
      	<a href="<%= image %>.jpg" data-lightbox="images" title="My caption"><img class="wedding" src="<%= image %>.jpg" alt="http://placehold.it/272x407"></a>
    	</div>
    <% end %>
    
    <% @photobooth_images.each do |image| %>
    	<div class="photobooth_images">
      	<a href="<%= image %>.jpg" data-lightbox="images" title="My caption"><img class="photobooth_images" src="<%= image %>.jpg" alt="http://placehold.it/272x407"></a>
    	</div>
    <% end %>
    

    
 
</div>






<script type="text/javascript">
	$(window).load(function(){
			var $container = $('.portfolioContainer');
			$container.isotope({
					filter: '*',
					sortBy : 'random',
					animationOptions: {
							duration: 750,
							easing: 'linear',
							queue: false
					}
			});

			
			$('.portfolioFilter a').click(function(){
					$('.portfolioFilter .current').removeClass('current');
					$(this).addClass('current');
 
					var selector = $(this).attr('data-filter');
					$container.isotope({
							filter: selector,
							animationOptions: {
									duration: 750,
									easing: 'linear',
									queue: false
							}
					 });
					 return false;
			}); 
	});	 
 
</script>