<h1>Your Email was sent</h1>

name
<%= @email.name %>
<br>email
<%= @email.email %>
<br>message
<%= @email.message %>
<br>date
<%= @email.date %>
<br>location
<%= @email.event_location %>
<br>event type 
<%= @email.event_type %>

