<!DOCTYPE html>
<html>
<head>
  <title>Uberschnap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
</head>
<body>
  <div class="container">  
	<nav class="navbar navbar-inverse navbar-fixed-top" id="nav-color" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div id="nav-content">
    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/static_pages/home"><img id="uber-logo" src="http://i1370.photobucket.com/albums/ag278/benjamin_tillett/Uberschnap-logo_zps10cf94db.png"><br><img id="photo-logo" src="http://i1370.photobucket.com/albums/ag278/benjamin_tillett/Uberschnap-20_zpse3f7b1ff.png"> </a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
		  
		  <li><a id="test1" href="/static_pages/photo_booth">photo booths</a></li>
		  <li><a href="/static_pages/private_party">private party</a></li>
		  <li><a href="/static_pages/wedding">wedding</a></li>
		  <li><a href="/static_pages/corporate_event">corporate event</a></li>
		  <li><a href="/static_pages/about">about</a></li>
		  <li><a href="/bookings">bookings</a></li>
		  <li><a href="/static_pages/gallery">gallery</a></li>
		  <li><i class="fa fa-facebook fa-2x"></i></li>
		  <li><i class="fa fa-twitter fa-2x"></i></li>
		  <li><i class="fa fa-instagram fa-2x"></i></li>
		</ul>
	  </div><!-- /.navbar-collapse -->
	 </div>							
  	</nav>	
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div id="wrap">   	
<%= yield %>
</div>

</div>
<!-- FOOTER -->
 <footer class = "clearfix">
<!--
	<div class = "container">
		<div class="col-md-2 col-sm-4">
			  <h4><i class="fa fa-camera icon-inline"></i> Products</h4>
				<nav>
				  <ul class="quick-links">
					<li><a href="product.html">Product1</a></li>
					<li><a href="product.html">Product2</a></li>
					<li><a href="product.html">Product3</a></li>
					<li><a href="all_products.html">All products</a></li>
				  </ul>
				</nav>
		</div>
		<div class="col-md-2 col-sm-4">
            <h4><i class="icon-beaker icon-white"></i> About</h4>
            <nav>
              <ul class="quick-links">
                <li><a href="our_works.html">Our works</a></li>
                <li><a href="patnerships.html">Patnerships</a></li>
                <li><a href="leadership.html">Leadership</a></li>
                <li><a href="news.html">News</a></li>
              <ul>
            </nav>
        </div>
		<div class="col-md-2 col-sm-4">
            <h4><i class="icon-thumbs-up icon-white"></i> Services</h4>
            <nav>
              <ul class="quick-links">
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact_us.html">Contact us</a></li>            
              </ul>
            </nav>          
        </div>
        <div class="col-md-2 col-sm-4">
            <h4><i class="icon-thumbs-up icon-white"></i> Support</h4>
            <nav>
              <ul class="quick-links">
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact_us.html">Contact us</a></li>            
              </ul>
            </nav> 
        </div>
        <div class="col-md-4 col-sm-8">         
       		<h4><i class="icon-legal icon-white"></i>Get in touch</h4>
            <nav>
              <ul class="quick-links">
		 						<li><i class="fa fa-facebook fa-2x"></i><i class="fa fa-twitter fa-2x"></i><i class="fa fa-instagram fa-2x"></i></li>
		  		<li></li>
		  		<li></li>     
              </ul>
            </nav>   
        </div>
        
        
        
	-->
	
	</div>
	
      <div class="container">
        <br><h4>Our Clients</h4>
        <p id="clients">
       		<img src="http://i.imgur.com/wYY6qpt.jpg">
      		<img src="http://i.imgur.com/wIoMNsl.jpg">
      		<img src="http://i.imgur.com/OXUJ1lR.jpg">
          <img src="http://i.imgur.com/7ah8L0F.png">
          <img src="http://i.imgur.com/V3XNXbs.jpg">
      		<img src="http://i.imgur.com/AoY78Yf.jpg">
      		<img src="http://i.imgur.com/uyvbgND.jpg">

      		<img src="http://i.imgur.com/IGYUeMG.jpg">
        </p>
        <hr class="footer-divider">
      	<div id="contact">
      		<h5>Uberschanp - 07933290382 - info@uberschnap.com</h5>
      	</div>
      </div>
 </footer>


</body>
</html>
